{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<div class="HQ_container">
  
  <div class="game-container" >
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.min.js"></script>
    <div id="game-container" ></div>
    
    <script src="{% static 'js/game.js'%}"></script>
  </div>

  {% comment %} STUTS {% endcomment %}

  <div id="popup" class="popup">
    <div class="popup-content">
      <a class="close" id="x">x</a>
      <h2>Choose an option:</h2>
        <button id="pushup" class="popup-btn"><img src="../static/images/Str.png" style="transform: rotate(45deg);"><h5>Push up</h5></button>
        <button id="situp" class="popup-btn"><img src="../../static/images/End.png"><h5>Sit up</h5></button>
        <button id="squat" class="popup-btn"><img src="../../static/images/Agi.png" style="transform: rotate(15deg);"><h5>Squat</h5></button>
    </div>
  </div>

  <div class="buddies-container" style="margin-left: auto">
    {% for buddy in buddies %}
    <div class="BuddyFit">
      <h1>Buddy Fit</h1>
    </div>

    <div class="buddy-card">
      <h3>Name: {{ buddy.name }}</h3>
      <h3>Evolution: </h3>
    </div>
  
    <div class="status-container" >
      <div class="status-piece">
        <p><img src="../../static/images/Str.png" style="transform: rotate(45deg);"><span id="arm-power-{{ buddy.id }}"><h5>arm-power</h5></span></p>
        <p><img src="../../static/images/End.png"><span id="leg-power-{{ buddy.id }}"></span><h5>body-power</h5></p>
        <p><img src="../../static/images/Agi.png" style="transform: rotate(15deg);"><span id="body-power-{{ buddy.id }}"></span><h5>leg-power</h5></p>
    </div>

    <!-- <progress value="50" max="100"></progress> -->

    <script type="text/javascript">

      // Get the power values for the current buddy
      const buddyName = '{{ buddy.name }}'
      
      var armPower = '{{ buddy.armpower }}';
      var legPower = '{{ buddy.legpower }}';
      var bodyPower = '{{ buddy.bodypower }}';
  
      // Calculate the level and EXP percentages for each power
      const armLevel = Math.floor(armPower / 10);
      const armExp = ((armPower / 10) - armLevel) * 100;
      const legLevel = Math.floor(legPower / 10);
      const legExp = ((legPower / 10) -legLevel) * 100;
      const bodyLevel = Math.floor(bodyPower / 10);
      const bodyExp = ((bodyPower / 10) - Math.floor(bodyPower / 10)) * 100;
  
      // Display the power values as level and % EXP
      const armPowerElem = document.getElementById("arm-power-{{ buddy.id }}");
      armPowerElem.textContent = `Level ${armLevel} (${armExp}% EXP)`;
      armPowerElem.style.width = `${armExp}%`;
      armPowerElem.style.backgroundColor = armExp >= 50 ? "#4CAF50" : "#ddd";
  
      const legPowerElem = document.getElementById("leg-power-{{ buddy.id }}");
      legPowerElem.textContent = `Level ${legLevel} (${legExp}% EXP)`;
      legPowerElem.style.width = `${legExp}%`;
      legPowerElem.style.backgroundColor = legExp >= 50 ? "#4CAF50" : "#ddd";
  
      const bodyPowerElem = document.getElementById("body-power-{{ buddy.id }}");
      bodyPowerElem.textContent = `Level ${bodyLevel} (${bodyExp}% EXP)`;
      bodyPowerElem.style.width = `${bodyExp}%`;
      bodyPowerElem.style.backgroundColor = bodyExp >= 50 ? "#4CAF50" : "#ddd";


      function showPopup() {
        // Show the popup
        document.getElementById("popup").style.display = "block";
      
        // Set onclick events for the buttons
        document.getElementById("pushup").onclick = function() {
          window.location.href = "/pushup"; // Redirect to option1 page
        };
        document.getElementById("situp").onclick = function() {
          window.location.href = "/situp"; // Redirect to option2 page
        };
        document.getElementById("squat").onclick = function() {
          window.location.href = "/squat"; // Redirect to option3 page
        };
        document.getElementById("x").onclick = function() {
          window.location.href = "/"; // Redirect to option3 page
        };
      }
    </script>

    <button class="train-btn" onclick="showPopup()"><h1>Train</h1></button>
  
    {% endfor %}
    
  </div>
{% endblock content %}
