{% extends '_base.html' %}

{% load static %}

{% block title %}Leaderboard{% endblock title %}
{% block content %}
<div class="HQ_container">
    <div class="game-container">
        <script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.min.js"></script>
        <div id="game-container"></div>
        <script src="{%static 'js/Leader.js'%}"></script>
    </div>
    
    <div class="Leader_container">
        <div class="leader_name">ranking</div>
        <div class="leader_board">
            <div class="ribbon"></div>
            <table>
                {% for buddy in buddies %}
                    {% if forloop.counter <= 10 %}
                        <tr>
                            <td class="number">{{ forloop.counter }}</td>
                            <td class="name"> {{ buddy.name }}</td>
                            {% if forloop.counter == 1 %}
                                <td class="scores">
                                    {{ buddy.highScore }}
                                    <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal" />
                                </td>
                            {% else %}
                                <td class="scores">{{ buddy.highScore }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
    
{% endblock content %}  
