{% extends '_base.html' %}
{% load static %}


{% block title %}Push UP{% endblock title %}

{% block content %}





<div class="HQ_container">
  
  <div class="game-container" >
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.min.js"></script>
    <div id="game-container" ></div>
    <script src="{% static 'js/gamePush.js'%}"></script>
  </div>

  <div id="popup" class="popup">
    <div class="popup-content">
      <a class="close" id="x">x</a>
      <h2>Choose an option:</h2>
      <button id="pushup" class="popup-btn"><img src="../static/images/Str.png" style="transform: rotate(45deg);"><h5>Push up</h5></button>
      <button id="situp" class="popup-btn"><img src="../../static/images/End.png"><h5>Sit up</h5></button>
      <button id="squat" class="popup-btn"><img src="../../static/images/Agi.png" style="transform: rotate(15deg);"><h5>Squat</h5></button>
    </div>
  </div>

  <div class= "Mediapipe-container">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.1/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.2/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.2/pose.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function showPopup() {
        // Show the popup
        document.getElementById("popup").style.display = "block";
      
        // Set onclick events for the buttons
        document.getElementById("pushup").onclick = function() {
          window.location.href = "/pushup"; // Redirect to option1 page
        };
        document.getElementById("situp").onclick = function() {
          window.location.href = "/situp"; // Redirect to option2 page
        };
        document.getElementById("squat").onclick = function() {
          window.location.href = "/squat"; // Redirect to option3 page
        };
        document.getElementById("x").onclick = function() {
          window.location.href = "/pushup"; // Redirect to option3 page
        };
      }
    </script>

    <canvas class="output" width="600px" height="600px"></canvas>
    <button class="change-btn" onclick="showPopup()"><h1>Change</h1></button>

    {% comment %} สำหรับบันทึกค่า {% endcomment %}
    <form action="/update_pushup" method="post">
      {% csrf_token %}
      <input type="hidden"  name="pushup_count" id="CountPushup">
      <button class="save-btn"><h1>Done</h1></button>
    </form>
    
    <video class="input_video" width="0px" height="0px" style="visibility: hidden"></video>            
    
    <div class="loading">
      <div class="spinner"></div>
    </div>
    <div style="visibility: hidden" class="control"></div>
    <script src="../static/js/PushUp.js"></script>
   
    <script >

      document.getElementById("CountPushup").value = "Hello WOrld";
      // สร้างฟังก์ชัน updateCountdown ในไฟล์ pushup.html เพื่อแสดงค่า countdown ในตัวแปร pushupCountdown
      function updateCountdown() {
        //const countdownDiv = document.getElementById('countdown');
        const countdown = window.getPushupCountdown();
        if (countdown === 10) {
          //countdownDiv.innerText = 'PASS';
          document.getElementById("CountPushup").value = sessionStorage.getItem("pushup_count");
          setInterval(updateCountdown, 0);
        }
      }
      setInterval(updateCountdown, 500);
    </script>

  </div>
{% endblock content %}
