{% extends '_base.html' %}
{% load static %}

{% block title %}Push UP{% endblock title %}

{% block content %}

<div class="HQ_container">
  
  <div class="game-container" >
    <script src="https://cdn.jsdelivr.net/npm/phaser@4.2.1/dist/phaser.min.js"></script>
    <div id="game-container" data-background-url="{% static 'images/BG.png' %}" data-player-url="{% static 'images/Minotor.png' %}"></div>
    <script type="module" src="{% static 'js/gameSquat.js' %}"></script>
  </div>

  <div id="popup" class="popup">
    <div class="popup-content">
      <a class="close" id="x">x</a>
      <h2>Choose an option:</h2>
      <button id="pushup" class="popup-btn"><img src="../static/images/Str.png" style="transform: rotate(45deg);"><h5>Push up</h5></button>
      <button id="situp" class="popup-btn"><img src="../../static/images/End.png"><h5>Sit up</h5></button>
      <button id="squat" class="popup-btn"><img src="../../static/images/Agi.png" style="transform: rotate(15deg);"><h5>Squat</h5></button>
    </div>
  </div>

  <div class= "Mediapipe-container">
    <script type="text/javascript">
      function showPopup() {
        // Show the popup
        document.getElementById("popup").style.display = "block";
      
        // Set onclick events for the buttons
        document.getElementById("pushup").onclick = function() {
          window.location.href = "/pushup"; // Redirect to option1 page
        };
        document.getElementById("situp").onclick = function() {
          window.location.href = "/situp"; // Redirect to option2 page
        };
        document.getElementById("squat").onclick = function() {
          window.location.href = "/squat"; // Redirect to option3 page
        };
        document.getElementById("x").onclick = function() {
          window.location.href = "/squat";
        }
      }
    </script>

    <canvas class="output" width="600px" height="600px"></canvas>
    <button class="change-btn" onclick="showPopup()"><h1>Change</h1></button>

    <form action="{% url 'pages:update_squat' %}" method="post" data-workout-form data-exercise="squat">
      {% csrf_token %}
      <input type="hidden" name="squat_count" id="CountSquat" value="0">
      <button class="save-btn"><h1>Done</h1></button>
    </form>
           
    <video class="input_video" width="0px" height="0px" style="visibility: hidden;" muted playsinline></video>
    <div class="loading">
        <div class="spinner"></div>
    </div>
    <script type="module" src="{% static 'js/Squat.js' %}"></script>
    <script type="module" src="{% static 'js/workoutForm.js' %}"></script>

  </div>
{% endblock content %}
