/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'minecraft', sans-serif; /* กำหนด font-family เป็น Minecraft */
}


.container {
  max-width: 1200;
}

.pricing-header {
  max-width: 1200;
}


/* Login & SignUp Page */
.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.login-image {
  margin-right: 50px;
}

.login-form {
  width: 50%;
}

/* Home Page */
.HQ_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.game-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.buddies-container {
  margin-left: 20px;
  margin-top: -15px;
}

.Mediapipe-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: auto;
}

.experience-bar {
  width: 300px; /* Adjust the width as needed */
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin: 20px auto; /* Center the bar horizontally */
  position: relative;
}

.experience-fill {
  height: 100%;
  width: 0; /* Initial width is 0, will be updated dynamically */
  background-color: #4caf50; /* Initial color */
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  position: relative;
  transition: width 0.5s, background-color 0.5s;
}

.status-piece {
  display: flex;
  flex-direction: row;
}

/* Popup css */
.popup {
  display: none; /* hide popup by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* black background with opacity */
}

.popup .close {
  position: relative;
  margin: 10px;
  left: 300px;
  padding: 10px 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.popup .close:hover {
  color: red;
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 50px;
  text-align: center;
}

.popup-btn {
  margin: 20px;
  padding: 10px 25px;
  border-radius: 100px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.popup-btn:hover {
  background-color: #3e8e41;
}

/* train button */
.train-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 200px;
  border-radius: 50px;
  cursor: pointer;
}

.train-btn:hover {
  background-color: #3e8e41;
}

.challenge-btn {
  background-color: #D6874D;
  color: white;
  padding: 10px 150px;
  border-radius: 50px;
  cursor: pointer;
}

.challenge-btn:hover {
  background-color: #B05E22;
}

.BuddyFit {
  text-align: center;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 25px;
}

/* change button */
.change-btn {
  margin-top: 10px;
  background-color: cadetblue;
  color: white;
  padding: 10px 200px;
  border-radius: 50px;
  cursor: pointer;
}

.change-btn:hover {
  background-color: darkblue;
}

/* save button */
.save-btn {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 250px;
  border-radius: 50px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #3e8e41;
}

