/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'minecraft', sans-serif; /* กำหนด font-family เป็น Minecraft */
}


.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.login-image {
  margin-right: 50px;
}
.login-form {
  width: 50%;
}